@import 'variables';

@mixin panel() {
  border-radius: $padding-inner;
  padding: $padding-inner-small;
}

@mixin fill() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin screen() {
  @include fill();
  top: $header-footer-size;
  bottom: $header-footer-size;
}

@mixin dialog($width, $height) {
  position: absolute;
  top: $height;
  left: $width;
  right: $width;
  bottom: $height;
}