* {
  box-sizing: border-box; }

#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #e2e2e2; }

#layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; }

#spinner {
  color: #fff; }

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a9a8ac;
  bottom: auto;
  height: 20%; }

footer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5c545a;
  top: auto;
  height: 20%; }

.hidden {
  display: none; }

#thneeds, #settings, #editThneed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 20%;
  bottom: 20%; }

#settings label {
  display: inline-block;
  width: 30%;
  margin-right: 20px; }

.thneed {
  min-height: 50px; }

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); }

#labelEdit {
  display: inline-block;
  width: 50px;
  height: 50px; }

#labelPicker {
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 10%;
  border: 1px solid black;
  background-color: #000;
  overflow: auto; }
  #labelPicker .label {
    height: 10%; }

#test {
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 10%;
  color: red; }

#purchase {
  position: absolute;
  top: 40%;
  left: 20%;
  right: 20%;
  bottom: 40%;
  border: 1px solid black;
  background-color: #ccc; }

.confirm-delete {
  height: 50px;
  text-align: right; }

.confirm-delete.show {
  display: block; }

.confirm-delete.hide {
  display: none; }

.default {
  background-color: #2C2C2C; }

.red {
  background-color: #a31319; }

.green {
  background-color: #54a540; }

.blue {
  background-color: #12208a; }

.error-validation {
  display: block;
  color: red; }
